<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <%- include('./../Partials/navbar.ejs') %>

        <h1>This is the Home Page</h1>

        <% if (user) { %>
            <h2>Hello, <%= user.userName %> 👋</h2>
            <p>Welcome back! Enjoy exploring the website.</p>
            <% } else { %>
                <p>To know more about this website, please log in or sign up.</p>
                <a href="/login">Login</a>
                <a href="/signup">Signup</a>
                <% } %>
</body>

</html>