<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <%- include('./../Partials/navbar.ejs') %>
        <h1>This is home page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae tempora vel debitis nihil. Eum sed
            magni, laborum autem illum suscipit.</p>

        <h5>TO know more about this website Do login</h5>
        <a href="/login">login</a>
        <a href="/signup">Signup</a>

</body>

</html>