# Ignore node_modules
node_modules/

# Ignore video files
*.mp4
*.mkv
*.avi
*.mov
*.webm

# Ignore .env files
.env

# Ignore Excel files
*.xls
*.xlsx
*.xlsm
*.ods

# Ignore Word files
*.doc
*.docx
*.pdf
*.odt

# Ignore PDF files
*.pdf
