h1 {
  color: black;
  background-image: linear-gradient(
    to right,
    green,
    rgb(101, 212, 101),
    yellow,
    rgb(159, 170, 10)
  );
}

#para {
  color: red;
  background-color: yellow;
  font-size: 24px;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
}

.para1 {
  color: green;
  background-color: yellow;
  text-decoration: underline;
  text-decoration-color: red;
  letter-spacing: 3px;
  line-height: 40px;
  word-spacing: 10px;
}

.chai {
  text-transform: uppercase;
  font-size: 35px;
  text-align: center;
  font-style: italic;
  letter-spacing: 10px;
}

.chai:hover {
  /* x-axis--->y-axis---->shadow------->color */
  text-shadow: 5px 5px 4px rgba(255, 0, 0, 0.5);
  transition: all 1s;
  cursor: pointer;
}
