* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: yellow;
  color: red;
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}
.img {
  margin-left: 20px;
}
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
  margin-left: 50px;
  text-decoration: none;
}
li {
  text-align: center;
  list-style: none;
}

button {
  margin-right: 20px;
  background-color: red;
  height: 30px;
  width: 60px;
}
