/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 0;
  transition: all 0.4s ease;
  z-index: 2;
  background-color: transparent;
  color: white;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.navbar a {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
}

.navbar.show {
  background-color: black;
  color: white;
}

/* Equal width for all three sections */
.navbar-left,
.navbar-center,
.navbar-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

/* Specific alignments for each section */
.navbar-left {
  justify-content: flex-start;
  gap: 45px;
}

.navbar-center {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.navbar-right {
  justify-content: flex-end;
  gap: 45px;
}
