.login-form {
  max-width: 450px;
  margin: 0 auto;
}
.line-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  flex-grow: 1;
  border-top: 1px solid #6c757d;
  margin: 0 10px;
  width: 30px;
}
.right-section {
  background: linear-gradient(to right, #39b693, #3aa8ac);
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.inner-right {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
}

.circle {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: #49b8a0;
}

.small-circle {
  width: 70px;
  height: 70px;
  bottom: 130px;
  left: 30px;
}

.big-circle {
  width: 150px;
  height: 150px;
  bottom: 20px;
  right: -50px;
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  color: #49b8a0;
  top: 20px;
  left: -40px;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 120px solid rgba(255, 255, 255, 0.1);
  transform: rotate(1deg);
}
